<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidsolutions.launchmodes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaunchModes">
        <activity
            android:name=".ActivityThree"
            android:label="ActivityThree"
            android:exported="false" />
        <activity
            android:name=".ActivityTwo"
            android:label="ActivityTwo"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".ActivityOne"
            android:label="ActivityOne"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>